@charset "UTF-8";
@import url("normalize.css");
* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  color: #333;
  background-image: url(../images/common_bg.png);
}

/* ヘッダー */

#site-header {
  background-color: #aaa;
  text-align: center;
}

#site-header a img {
  width: 200px;
  padding: 10px;
}

/* コンテンツ全体 */

.inner-wrapper {
  max-width: 880px;
  padding: 15px;
  margin: auto;
}

.inner-wrapper hr {
  border-width: 3px 0 0 0;
  border-color: #000
}

/* イントロ */

.intro h2, h1 {
  letter-spacing: 0.2rem;
}

h1 {
  margin-top: 60px;
}

.intro h2 {
  margin-top: 40px;
  margin-bottom: 0;
  font-size: 1rem;
}

.intro p {
  letter-spacing: 0.2rem;
  line-height: 1.5rem;
  margin-top: 3px;
}

/* 挨拶 */

.greeting h2 {}

/* 注意 */

.attention {
  color: red;
}

/* フォーム全体 */

table {
  width: 880px;
  border-collapse: collapse;
}

label {
  padding: 20px 0;
}

th {
  width: 140px;
  text-align: left;
}

tr {
  border-bottom: 1px solid #ddd;
}

.require::after {
  content: '必須';
  display: inline-block;
  margin-left: 10px;
  font-size: 11px;
  font-size: .6875rem;
  color: #e32d31;
  line-height: 14px;
  vertical-align: middle;
}

/* 学科 */

#all {
  display: none;
}

#first {
  display: none;
}

#second {
  display: none;
}

/* 郵便番号 */

.item .yuubinn1 {
  margin-right: 10px;
  width: 100px;
}

.item .yuubinn2 {
  margin-left: 10px;
  width: 100px;
}

/* 氏名 */

.inline {
  display: inline-block;
}

.inline input[type="text"] {
  width: 150px;
}

label[for="first_name"], label[for="first_name_kana"], label[for="family_name"], label[for="family_name_kana"] {
  display: inline-block;
  width: 30px;
}

label[for="first_name"], label[for="first_name_kana"] {
  margin-left: 60px;
}

/* 電話番号 */

.tel1 {
  margin-right: 10px;
}

.tel2 {
  margin: 0 10px;
}

.tel3 {
  margin-left: 10px;
}

/* 送信ボタン */

.btn-group {
  text-align: center;
}

/* 同伴者 */

#with-yes {
  margin-left: 30px;
}

#aa {
  position: relative;
}

#aa::before {
  content: '✓';
  color: green;
  position: absolute;
  right: -240px;
  top: 31px;
  font-weight: normal;
}

#douhan {
  display: none;
}

/* フッター */

footer {
  text-align: center;
  background-color: #aaa;
}

footer a {
  display: inline-block;
}

footer a img {
  width: 200px;
  padding-top: 10px;
}

footer p {
  padding-bottom: 10px;
}

table>tbody>tr>td {
  padding: 30px 0 30px 30px;
}